*.results
*.question
*.input
*.properties
*.aux
*.bbl
*.blg
*.log
*.synctex.gz
*.tmp.results
*.results.csv
*-subject_information.csv
*-mturk.csv
*-system.csv
*-trials.csv
*.success
*-catch_trials.csv
*_invoice.csv
*.xlsx
.RData
.Rhistory
.DS_Store
